!!!
%html
  %head
    %title TexBin
    %script{:type => "text/x-mathjax-config"}
      MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [],
      processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
      });
    = javascript_include_tag "https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    //= javascript_include_tag "https://raw.github.com/coreyti/showdown/master/src/showdown.js"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "http://www.steamdev.com/zclip/js/jquery.zclip.min.js"
    /*= javascript_include_tag "http://blogs.sitepointstatic.com/examples/tech/textarea-expander/jquery.textarea-expander.js"*/
    = csrf_meta_tags
  %body
    .title
      %a(href='/')><
        %span.title-left><
          TexB
        %span.title-right><
          in
    = yield
